

<h1 class="title_event_show"><%= @event.title %></h1>
<p class="description_txt">Description of event:</p>
<section id="description_event_section">
	<h2 class="description_event_show"><%= @event.description %></h2>
</section>
<p class="date_txt">Event Date:</p>
<%= @event.date %>