body {
    margin: 35px auto;
    width: 680px;
}

header {
    text-align: center;
    margin: 0 0 20px;
}

header h1 {
    display: inline;
    font-size: 32px;
}
 
header h1 a:link, header h1 a:visited {
    color: #444;
    text-decoration: none;
}

header h2 {
    font-size: 16px;
    font-style: italic;
    color: #999;
}

#main {
    margin: 0 0 20px;
}

#add {
    margin: 0 0 20px;
}

#add .title_event {
    display: block;
    height: 20px;
    width: 510px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

#add .description_event {
    display: block;
	height: 20px;
	width: 510px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

#add .datetime_picker {
    display: block;
    height: 20px;
    width: 300px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

#add .date_txt {
    display: inline-block;
    height: 20px;
    margin-bottom: 60px;
}

#add .people_invited {
    display: block;
    height: 20px;
    width: 510px;
    margin-bottom: 20px;
}

#add input {
    height: 30px;
    width: 200px;
    margin: -50px 0 0;
    border: 1px solid #ddd;
    background: white;
}

#add.datetime_picker {
	height: 30px;
	width: 300px;
	padding: 10px;
	border: 1px;
}

article {
    border: 1px solid #eee;
    border-top: none;
    padding: 15px 10px;
}

article:first-of-type {
    border: 1px solid #eee;
}
 
article:nth-child(even) {
    background: #fafafa;
}

article span {
    font-size: 0.8em;
}

p {
    margin: 0 0 5px;
}

.meta {
    font-size: 0.8em;
    font-style: italic;
    color: #888;
}
