body {
    width: 680px;
    margin: -20px auto;
}

header {
    text-align: center;
    margin: 10px auto;
    width: 100%;
}

hgroup {
    margin: 50px auto;
}

header h1 {
    display: inline;
    font-size: 52px;
}
 
header h1 a:link, header h1 a:visited {
    color: #444;
    text-decoration: none;
}

header h2 {
    font-size: 32px;
    font-style: italic;
    color: #999;
}

.title_event_show {
    font-size: 40px
}

.description_event_show {
    font-size: 20px
}

.description_txt {
    margin-top: 20px;
    margin-bottom: 20px;
}

#description_event_section {
    width: 600px;
    border: 2px solid #ddd;
}

.date_txt {
    margin-top: 20px;
    margin-bottom: 20px;
}

#main {
    margin-left: -30%;
    display: inline-block;
    width: 1100px;
}

#add {
    margin: 0 80px 20px 0;
    display: inline-block;
    float: left;
}

#display_events {
    display: inline-block;
    width: 450px;
}

.my_events_txt {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

#add .title_event {
    display: block;
    height: 20px;
    width: 510px;
    padding: 10px;
    margin-bottom: 15px;
    border: 3px solid #ddd;
}

#add .description_event {
    display: block;
	height: 20px;
	width: 510px;
    padding: 10px;
    margin-bottom: 5px;
    border: 3px solid #ddd;
}

#add .datetime_picker {
    display: inline-block;
    height: 20px;
    width: 200px;
    margin-left: 20px;
    margin-bottom: 20px;
    border: 3px solid #ddd;
}

#add .date_txt {
    display: inline-block;
    height: 20px;
}

#add .people_invited {
    display: block;
    height: 20px;
    width: 500px;
    margin-bottom: 20px;
    border: 3px solid #ddd;
}

#add .submit_button {
    border: 3px solid #ddd;
}

#add input {
    height: 30px;
    width: 200px;
    margin: -50px 0 0;
    border: 1px solid #ddd;
    background: white;
}

#add.datetime_picker {
	height: 30px;
	width: 300px;
	padding: 10px;
	border: 1px;
}

article {
    border: 1px solid #eee;
    border-top: none;
    padding: 15px 10px;
}

article:first-of-type {
    border: 1px solid #eee;
}
 
article:nth-child(even) {
    background: #fafafa;
}

article span {
    font-size: 0.8em;
}

p {
    margin: 0 0 5px;
}

.meta {
    font-size: 0.8em;
    font-style: italic;
    color: #888;
}
